# [mlr] provided by "bundle gem".
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# [mlr] vim swap files.
*.swp
# [mlr] eclipse project files.
.buildpath
.project
# [mlr] bundler deployment directory.
vendor
